@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/bulma/css/bulma.css";
@import "../../components/command-palette/command-palette.scss";
@import "../../components/static-command-palette/static-command-palette.scss";
@import "../../components/theme-customizer/theme-customizer.scss";

/*START:  Set up box-sizing for content*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*END:  Set up box-sizing for content*/

html, body {
  height: 100vh;
}

body {
  margin-left: 200px;

}
.hide {display: none !important;}

.sidebar {
  background: #222222;
  width: 180px;
  padding: 30px 0;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  &__title {
    font-size: 30px;
    color: white;
    padding-left: 16px;
  }
  &__nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    &-link {
      text-decoration: none;
      color: white;
      padding: 16px;
      font-size: 16px;

      &:hover,
      &.is-active{
        background: white;
        color: #222222;
        img {
          background: #222;
        }
      }

      img {
        height: 20px;
        margin-right: 10px;
        vertical-align: bottom;
      }
    }
  }

  .sidebar__footer {
    position: absolute;
    bottom: 15px;
    left: 16px;
    right: 16px;
    &-links {
      margin: 0 10px 0 0;

      img {
        height: 20px;
      }
    }
  }

}

.main-content {
  margin-top: 25px;
  margin-left: 80px;
  margin-right: 80px;

  #page-appearance {
    display: flex;
  }
}


#save-theme-settings {
  background: hotpink;
  color: white;
}
#reset-theme-settings {
  background: #fff;
}




.usage-container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.usage-line {
  font-size: 25px;
}
.usage-count {
  font-size: 30px;
  text-decoration: underline;
}
