<div class="static-cLauncher cLauncher">
  <div class="cLauncher__search-input-wrapper">
    <input type="text" class="cLauncher__search" autofocus="" placeholder="Enter Your Command" value="To">
  </div>
  <div class="cLauncher__suggestions-wrapper">
    <ul class="cLauncher__suggestions cLauncher__scrollbar">
      <li class="cLauncher__suggestion selected"><img class="cLauncher__suggestion-icon" src="/images/chrome-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title"><strong class="highlight">To</strong>ggle Fullscreen</div>
          <div class="cLauncher__suggestion-subtitle">Turn fullscreen mode on/off for the window.</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/incognito-icon.svg" />
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">Incogni<strong class="highlight">to</strong> Window</div>
          <div class="cLauncher__suggestion-subtitle">Open a new incognito browser window.</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/chrome-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">His<strong class="highlight">to</strong>ry</div>
          <div class="cLauncher__suggestion-subtitle">Open your search history.</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/incognito-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">Duplicate Tab Incogni<strong class="highlight">to</strong></div>
          <div class="cLauncher__suggestion-subtitle">Duplicate the tab and place it in an incognito window.</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/chrome-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">Sort <strong class="highlight">T</strong>abs and Merge Wind<strong class="highlight">o</strong>ws</div>
          <div class="cLauncher__suggestion-subtitle">Move all tabs to the current window and sort them.</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/chrome-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">Ex<strong class="highlight">t</strong>ensi<strong class="highlight">o</strong>ns</div>
          <div class="cLauncher__suggestion-subtitle">View your installed browser extensions.</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/chrome-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">Unins<strong class="highlight">t</strong>all Extensi<strong class="highlight">o</strong></div>
          <div class="cLauncher__suggestion-subtitle">Uninstall one of your installed chrome extensions.</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/chrome-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">Enable Ex<strong class="highlight">t</strong>ensi<strong class="highlight">o</strong></div>
          <div class="cLauncher__suggestion-subtitle">Enable one of your disabled chrome extensions.</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/chrome-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">Disable Ex<strong class="highlight">t</strong>ensi<strong class="highlight">o</strong></div>
          <div class="cLauncher__suggestion-subtitle">Disable an active chrome extension</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/chrome-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">App <strong class="highlight">O</strong>ptions/Se<strong class="highlight">t</strong>tings</div>
          <div class="cLauncher__suggestion-subtitle">View the settings page for Winfred (this app).</div>
        </div>
      </li>
      <li class="cLauncher__suggestion"><img class="cLauncher__suggestion-icon" src="/images/chrome-icon.svg">
        <div class="cLauncher__suggestion-title-info">
          <div class="cLauncher__suggestion-title">Disable All Ex<strong class="highlight">t</strong>ensi<strong class="highlight">o</strong>ns</div>
          <div class="cLauncher__suggestion-subtitle">Disables all active chrome extensions</div>
        </div>
      </li>
    </ul>
  </div>

</div>
