.cPalette {
  background: #2D3447;
  border-radius: 3px;

  .cPalette__search {
    background-color: #282A36;
    caret-color: white;
    border: none;
    color: white;
    height: 50px;
    font-size: 30px;
    width: 100%;
    margin-right: 10px;
    padding: 5px 5px 5px 15px;
    &:focus {
      outline: none;
    }
  }

  .cPalette__icon {
    margin-top: 5px;
  }

  .cPalette__search-input-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 5px;
  }

  .cPalette__search-results {
    max-height: 312px;
    margin: 0;
    background: #2D3447;
    overflow-y: scroll;
    padding: 0;

    .selected {
      background-color:#393C4C;
    }
  }

  .cPalette__scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  /*.cPalette__scrollbar::-webkit-scrollbar-track {
    background: black;
  }*/
  .cPalette__scrollbar::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: red;
  }

  .cPalette__search-result {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    color: white;
    list-style: none;

    .cPalette__search-result-text{
      display: inline-block;
    }

    .cPalette__search-result-icon{
      height: 32px;
      width: 32px;
      margin-right: 10px
    }

    //todo: configure fuzzaldrinPlus to use other element with a class instead.
    // .char-match-highlight {
    strong {
      font-weight: bold;
      color:#4D78CC
    }
  }
}

.cPalette_is-inactive {
  display: none;
}
.cPalette_is-active {
  display: block;
}
