:root {
  --command-palette-background-color: white;
  --search-input-background-color: white;
  --search-input-caret-color: black;
  --search-input-scrollbar-background-color: lightgrey;
  --search-result-selected-background-color: lightgrey;
  --search-result-text-keyword-match-color: black;
  --search-result-text-color: black;
  --search-input-text-color: black;
  --search-result-subtext-color: shadylady;
  --search-result-text-size: 15px;
  --search-result-subtext-size: 12px;
  --search-input-text-size: 30px;
  --search-input-scrollbar-width: 2px;

  // --search-result-keyword-size: 12px;
}


.cPalette {
  background: var(--command-palette-background-color);
  border-radius: 3px;

  .cPalette__search {
    background-color: var(--search-input-background-color);
    caret-color: var(--psearch-input-caret-color);
    border: none;
    color: var(--search-input-text-color);
    height: 50px;
    font-size: var(--search-input-text-size);
    font-weight: 300;
    width: 100%;
    margin-right: 10px;
    padding: 5px 5px 5px 15px;
    &:focus {
      outline: none;
    }
  }

  .cPalette__icon {
    margin-top: 5px;
  }

  .cPalette__search-results-wrapper {
    display: flex;
  }

  .cPalette__search-input-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 5px;
  }

  .cPalette__search-results {
    max-height: 312px;
    margin: 0;
    background: var(--command-palette-background-color);
    overflow-y: scroll;
    padding: 0;

    .selected {
      background-color: var(--search-result-selected-background-color);
    }
  }

  .cPalette__scrollbar::-webkit-scrollbar {
    width: var(--search-input-scrollbar-width);
  }
  /*.cPalette__scrollbar::-webkit-scrollbar-track {
    background: black;
  }*/
  .cPalette__scrollbar::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--search-input-scrollbar-background-color);
  }

  .cPalette__search-result {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    color: var(--search-result-text-color);
    list-style: none;

    .cPalette__search-result-icon{
      height: 32px;
      width: 32px;
      margin-right: 10px
    }

    .cPalette__search-result-text-info {
      display: flex;
      flex-direction: column;
    }

    .cPalette__search-result-text {
      font-size: var(--search-result-text-size);
    }
    .cPalette__search-result-subtext {
      color: var(--search-result-subtext-color);
      font-size: var(--search-result-subtext-size);
    }


    //todo: configure fuzzaldrinPlus to use other element with a class instead.
    // .char-match-highlight {
    strong {
      font-weight: bold;
      color: var(--search-result-text-keyword-match-color);
    }
  }
}

.cPalette_is-inactive {
  display: none;
}
.cPalette_is-active {
  display: block;
}
