.hide {
  display: none;
}

.color-picker {
  background: none;
  border:none;
  border-image: none;
}


.cPalette-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.cPalette {
  min-width: 500px;
  box-shadow: 0 6px 2px 0 rgba(0,0,0,.14), 0 7px 8px -2px rgba(0,0,0,.2), 0 1px 83px 0 rgba(0,0,0,4.12);
}


.mdl-layout__content {
  background: #ffffff !important;
}


.appearance-controls {
  border: 1px solid black;
  fisp

  div {
    display: inline-block;
  }
}



// Override mdlite styles
.mdl-layout__drawer {
  background: #333A47 !important;
}

.mdl-layout-title,
.mdl-navigation__link {
  color: #ffffff !important;
}

.mdl-navigation__link {
  opacity: 1 !important;
}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background: #ffffff !important;
  color: #333A47 !important;
}


.mdl-layout__drawer {
  border: none;
}
