<section class="theme-controls">

  <h1 class="theme-controls__group-title is-size-4">Background Coloring</h1>
  <div class="theme-controls__control-container">
    <label class="theme-controls__label">App</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--app-background-color">
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Selected Search Suggestion</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--selected-suggestion-background-color">
  </div>

  <div class="theme-controls__control-container">
    <labe class="theme-controls__label">Search Results Scrollbar</labe>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--search-results-scrollbar-color">
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Search Input Caret</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--search-input-caret-color">
  </div>


  <h1 class="theme-controls__group-title is-size-4">Text Coloring</h1>
  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Search Input Value</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--search-input-value-text-color">
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Selected Search Suggestion Title</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--selected-suggestion-title-text-color">
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Selected Search Suggestion Subtitle</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--selected-suggestion-subtitle-text-color">
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Selected Search Suggestion Character Match</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--selected-suggestion-character-match-color">
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Search Suggestion Title</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--suggestion-title-text-color">
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Search Suggestion Subtitle</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--suggestion-subtitle-text-color">
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Search Suggestion Character Match</label>
    <input class="theme-controls__input theme-controls__input_color-picker" type="color" data-cssvariable="--suggestion-character-match-color">
  </div>


  <h1 class="theme-controls__group-title is-size-4">Spacing</h1>
  <!-- <div class="theme-controls__control-container">
    <label class="theme-controls__label">App Width</label>
    <input class="theme-controls__input theme-controls__input_font-resizer" type="number" data-cssvariable="--app-width-size" data-sizing="px">
  </div> -->

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Search Results Scrollbar Width</label>
    <input class="theme-controls__input theme-controls__input_font-resizer" type="number" data-cssvariable="--search-results-scrollbar-width" data-sizing='px'>
  </div>

  <h1 class="theme-controls__group-title is-size-4">Text Sizing</h1>
  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Search Input Value</label>
    <input class="theme-controls__input theme-controls__input_font-resizer" type="number" data-cssvariable="--search-input-value-text-size" data-sizing='px'>
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Search Suggestion Title</label>
    <input class="theme-controls__input theme-controls__input_font-resizer" type="number" data-cssvariable="--suggestion-title-text-size" data-sizing='px'>
  </div>

  <div class="theme-controls__control-container">
    <label class="theme-controls__label">Search Suggestion Subtitle</label>
    <input class="theme-controls__input theme-controls__input_font-resizer" type="number" data-cssvariable="--suggestion-subtitle-text-size" data-sizing='px'>
  </div>

  <footer class="theme-controls__footer">
    <div class="theme-controls-actions">
      <button id="reset-theme" class="theme-controls__button theme-controls__button_reset">Reset Theme</button>
    </div>
  </footer>

</section>
